<!DOCTYPE html>
<html>
<head>
  <title>ProyectoFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="#" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#myModal">Login</a>

<%= yield %>
<%= render partial: 'partials/login_modal' %>
</body>
</html>
